
/* !!! ----- MASTER CSS ----- !!! */

.screen-window {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
    margin: 0 auto;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-container {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
    width: 600px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

    width: 600px;
    height: 100px;

    font-size: 28px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.interface {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

    width: 600px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {

}

/* !!! ----- HOME CSS ----- !!! */

#homeScreenInterface {
    
}

#homeTitle {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

    width: 600px;
    height: 275px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span {
    font-size: 72px;
}

#homeIntF {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
    
    width: 150px;
    height: 175px;
}

.home-menu-btn {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
    
    padding: 10px;
    margin: 10px;
}

/* !!! ----- RULES CSS ----- !!! */

#rulesScreenInterface {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

h3 {
    padding: 10px 25px;

    font-size: 18px;
}

#rulesChart {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

    width: 300px;
    padding: 5px;

    display: flex;
    justify-content: center;
}

#rulesImg {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

    width: 100%;
}

/* !!! ----- GAME CSS ----- !!! */

.game-container {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.question-item {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.option-area {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.option-box {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.option-box button {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
}

.option-box p {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
}

.submit-btn {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.submit-btn img {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

.stats-area {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);
 
}

/* !!! ----- SCORE CSS ----- !!! */

h3 {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}

#scoreChart {
    border: 1px dashed hsla(0, 0%, 0%, 0.5);

}